{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": "> 1%",
              "uglify": true
            },
            "useBuiltIns": true
          }
        ],
        "react",
        "env"
      ],
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": "> 1%",
              "uglify": true
            },
            "useBuiltIns": true
          }
        ],
        "react",
        "env"
      ],
      "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            },
            "useBuiltIns": true
          }
        ],
        "react",
        "env"
      ],
      "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
